.bicicletas-lista {
  h2 {
    margin-left: 200px;
  }
}
.alinhamento-carros {
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 40px;
  margin-top: 50px;
  max-width: 1200px;

  img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.grid.div {
  margin: 0 auto;
  align-items: center;
  position: absolute;
}

.grid div span::before {
  content: " ";
  width: 6px;
  height: 6px;
  background-color: var(--cor-p1);
  display: inline-block;
  align-items: center;
  margin-bottom: 4px;
}

.grid div:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.Titulocarros {
  margin-left: 200px;
}

.detalhe-carro {
  color: var(--cor-p1);
  font-size: 1.4rem;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }
  .grid  {
    gap: 20px;
  }
  .bicicletas-lista {
  h2 {
    margin: 0;
    text-align: center;
    margin-top: 60px;
  
  }
   }
  .grid {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 60px;
  margin: 40px;
  margin-top: 70px;
  max-width: 600px;
}
}

  
