.footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  padding-top: 60px;
}

.logo-footer {
  height: 200px;
}

.footer-informações {
  text-align: left;
  h2 {
    margin: 0px;
  }
}
.footer-contato {
  text-align: left;
  h2 {
    margin: 0px;
  }
}
